.ares-page-body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: var(--text-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-opacity: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-touch-action: auto;
  touch-action: auto;
  position: relative;
}

.ares-page-body h1,
.ares-page-body h2,
.ares-page-body h3,
.ares-page-body h4,
.ares-page-body h5,
.ares-page-body h6 {
  color: var(--dark-color);
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .5px;
  padding: 0;
  margin: 0;
}

.ares-page-body a,
.ares-page-body a:hover,
.ares-page-body a:active,
.ares-page-body a:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
  border: none;
}

.ares-page-body a:hover,
.ares-page-body a:active,
.ares-page-body a:focus {
  color: --primary-color-darker;
}

.ares-page-body .ares-themeBtn {
  display: inline-block;
  padding: 10px;
  min-width: 185px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 0px;
  text-transform: capitalize;
  text-align: center;
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.ares-page-body .ares-themeBtn:hover, .ares-page-body .ares-themeBtn:focus {
  border: 1px solid var(--primary-color-darker);
  background: var(--primary-color-darker);
  color: var(--white-color);
}

.ares-page-body .ares-themeBtn.btnWhite {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.ares-page-body .ares-themeBtn.btnWhite:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.ares-page-body p {
  margin-bottom: 0px;
}

.ares-page-body ul,
.ares-page-body li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ares-page-body button {
  border: none;
}

.ares-page-body button:focus {
  outline: none;
}

.ares-page-body .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ares-page-body .ares-container-mid {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .ares-page-body .ares-container-mid {
    padding: 0 4%;
  }
}

@media (max-width: 991px) {
  .ares-page-body .ares-container-mid {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1450px) {
  .ares-page-body .ares-container-mid {
    max-width: 1300px;
    padding: 0 15px;
  }
}

.ares-page-body .ares-padding-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.ares-page-body .font-weight-600 {
  font-weight: 600;
}

.ares-page-body .font-weight-500 {
  font-weight: 500;
}

.ares-page-body .ares-font-13 {
  font-size: 13px;
}

.ares-page-body .ares-font-12 {
  font-size: 12px;
}

.ares-page-body .ares-font-11 {
  font-size: 11px;
}

.ares-page-body .ares-font-14 {
  font-size: 14px;
}

.ares-page-body .ares-font-10 {
  font-size: 10px;
}

.ares-page-body .theme-color-primary {
  color: var(--primary-color);
}

.loaderSection {
  padding: 75px 0;
  position: relative;
}

.loaderSection ._vehicleGrid-skeleton {
  background-color: #fff;
}

.loaderSection ._vehicleGrid-img {
  height: 200px;
  background-color: #eeeeee;
  -webkit-animation: fliker 1.5s linear infinite;
          animation: fliker 1.5s linear infinite;
}

.loaderSection .skeleton-box {
  background-color: #eeeeee;
  height: 20px;
  width: 110px;
  -webkit-animation: fliker 1.5s linear infinite;
          animation: fliker 1.5s linear infinite;
}

.loaderSection .skeleton-box.w-49 {
  width: 49%;
}

.loaderSection .skeleton-box.w-25 {
  width: 25%;
}

.loaderSection .skeleton-box.thin {
  height: 15px;
}

.loaderSection .skeleton-box.thick {
  height: 35px;
}

.loaderSection .skeleton-box.medium {
  height: 25px;
}

.loaderSection .skeleton-box.circle {
  height: 36px;
  max-width: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

@-webkit-keyframes fliker {
  0% {
    background: #f3f3f3;
  }
  50% {
    background: #eeeeee;
  }
  100% {
    background: #f3f3f3;
  }
}

@keyframes fliker {
  0% {
    background: #f3f3f3;
  }
  50% {
    background: #eeeeee;
  }
  100% {
    background: #f3f3f3;
  }
}
/*# sourceMappingURL=loader.css.map */